/*----------------------------------------------------------------
    Site Footer
----------------------------------------------------------------*/

#site-footer {
    @include clearfix;
    padding: 70px 0;
    background-color: #efefef;
    h3 {
        font-size: 24px;
    }
    .content {
        position: relative;
        width: 1200px;
        margin: 0 auto;
    }
    .column {
        float: left;
        width: 25%;
    }
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    .learn-more {
        li {
            line-height: 2em;
        }
        a {
            color: #000;
            text-decoration: none;
            font-weight: bold;
        }
    }
    .contact {
        h4 {
            margin: 0;
            font-style: italic;
            & + p {
                font-size: 18px;
            }
        }
    }
}

#tv {
    position: relative;
    float: right;
    width: 45%;
    ul {
        @include inline-list;
        li {
            float: left;
            width: 156px;
            text-align: center;
            &:nth-child(2n) {
                // margin: 0 36px;
            }
        }
    }
    a {
        color: #000;
        text-decoration: none;
    }
    figure img {
        margin: 0 0 1em;
    }
    .slide-ctrls {
        position: absolute;
        top: 0;
        right: 0;
    }
}

#goto-top {
    @include box-sizing(content-box);
    display: block;
    position: absolute;
    top: -98px;
    right: 0;
    height: 18px;
    padding: 5px 15px;
    background-color: #525252;
    border-radius: 5px 5px 0 0;
    color: #fff;
    text-decoration: none;
}

#basement {
    padding: 40px;
    background-color: #000;
    text-align: center;
    p {
        margin: 0;
    }
    .content {
        color: #8d8d8d;
        font-size: 11px;
    }
}